<ul class="ul-style-reset paginator">
  <li [ngClass]="{'hide' : first || pagesArray.length <= 5}"
      class="paginator-edge-btn"
      (click)="changePage(1)">
    <a><i class="icon-backward"></i></a>
  </li>
  <li [ngClass]="{'hide' : first}"
      class="paginator-edge-btn"
      (click)="changePage(currentPage - 1)">
    <a><i class="icon-step-backward"></i></a>
  </li>
  <li *ngFor="let page of pagesArray | slice: sliceBtnsFrom : sliceBtnsTo"
      (click)="changePage(page)"
      class="paginator-btn"
      [ngClass]="{'active': page === currentPage}"><a>{{page}}</a></li>
  <li [ngClass]="{'hide' : last}"
      class="paginator-edge-btn"
      (click)="changePage(currentPage + 1)">
    <a><i class="icon-step-forward"></i></a>
  </li>
  <li [ngClass]="{'hide' : last || pagesArray.length <= 5}"
      class="paginator-edge-btn"
      (click)="changePage(pagesArray.length)">
    <a><i class="icon-forward"></i></a>
  </li>
</ul>
